a {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #245c45;
  color: white;
  text-decoration: none;
}

img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
